<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
            <button class="btn btn-dark btn-lg float-right" routerLink="/create-empleado">Agregar</button>
            <h5 *ngIf="empleados.length==0" style="margin-top: 5px;">No hay datos que mostrar</h5>
            <table *ngIf="empleados.length>0" class="table mt-5 table-striped">
                <thead>
                  <tr>
                    <th >Nombre</th>
                    <th >Apellido</th>
                    <th >Documento</th>
                    <th >Salario</th>
                    <th colspan="2"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let empleado of empleados">
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.apellido}}</td>
                    <td>{{empleado.documento}}</td>
                    <td>{{empleado.salario | currency}}</td>
                    <td><i class="far fa-edit text-info" [routerLink]="['/editEmpleado/',empleado.id]"></i></td>
                    <td><i class="far fa-trash-alt text-danger" (click)="eliminarEmpleado(empleado.id)"></i></td>
                  </tr>
                 
                </tbody>
              </table>

             
        </div>
      </div>
    
</div>
